html,body,.container{
	width:100%;
	height:100%;
	overflow:hidden;
}
@mixin pos($p:absolute){
	position:$p;
}
@mixin flex($v:vertical){
	display:-webkit-box;
	-webkit-box-orient:$v;
}
body{
	color:#333;
	font-size:12px;
}
.container{
	@include flex;
}
.header{
	width:100%;
	height:0.84rem;
	border-bottom:1px solid #ccc;
	@include pos(relative);
	h1{
		text-align:center;
		line-height:0.84rem;
		font-size:16px;
	}
	.back{
		@include pos;
		left:10px;
		top:50%;
		margin-top:-8px;
		&:before{
			content:"";
			width:15px;
			height:15px;
			border:2px solid transparent;
			border-top-color:#00AA22;
			border-left-color:#00AA22;
			display:block;
			transform:rotate(-45deg);
		}
	}
}
.main{
	-webkit-box-flex:1;
	background:#f5f5f5;
	ul{
		margin-top:10px;
		background:#fff;
	}
	li{
		padding:5px 10px;
		border-bottom:1px solid #ccc;
	}
	em{
		color:#00aa22;
		font-style:normal;
	}
	i{
		font-size:20px;
	}
	a{
		display:block;
		height:30px;
		line-height:30px;
		color:#555;
		@include pos(relative);
		font-size:12px;
		span{
			@include pos;
			right:10px;
			top:50%;
			margin-top:-15px;
		}
	}
	.add{
		a:after{
			@include pos;
			right:10px;
			top:50%;
			margin-top:-5px;
			content:"";
			width:10px;
			height:10px;
			border:1px solid transparent;
			border-top-color:#555;
			border-right-color:#555;
			transform:rotate(45deg);
		}
	}
}