html, body, .container {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  color: #333;
  font-size: 12px;
  min-width: 300px; }

.container {
  display: -webkit-box;
  -webkit-box-orient: vertical; }

.header {
  width: 100%;
  height: 0.84rem;
  border-bottom: 1px solid #ccc;
  position: relative; }
  .header h1 {
    text-align: center;
    line-height: 0.84rem;
    font-size: 16px; }
  .header .back {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -8px; }
    .header .back:before {
      content: "";
      width: 15px;
      height: 15px;
      border: 2px solid transparent;
      border-top-color: #00AA22;
      border-left-color: #00AA22;
      display: block;
      transform: rotate(-45deg); }
  .header .search {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -13px;
    color: #00AA22;
    font-size: 0.36rem; }

.main {
  -webkit-box-flex: 1;
  background: #f5f5f5;
  position: relative; }

.side_bar {
  width: 25%;
  margin-right: 10px;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  z-index: 999;
  padding-top: 10px; }
  .side_bar li {
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-bottom: 1px solid #ccc;
    font-size: 14px; }
    .side_bar li a {
      display: block;
      color: #393737; }
    .side_bar li .bj {
      background: #f5f5f5;
      color: #00AA22; }

.lists_con {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  padding-top: 10px;
  padding-left: 25%;
  overflow: scroll; }
  .lists_con .lists_scroll {
    padding-left: 10px;
    padding-right: 2px; }
  .lists_con .title_img {
    padding-top: 20px;
    display: block; }
    .lists_con .title_img img {
      width: 100%; }
  .lists_con .item_title {
    padding: 15px;
    position: relative;
    font-size: 14px; }
    .lists_con .item_title a {
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -9px;
      color: #999; }
  .lists_con .item_con {
    width: 100%;
    background: #fff;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    font-size: 0; }
    .lists_con .item_con a {
      width: 33%;
      -webkit-flex-shrink: 0;
      display: block;
      text-align: center;
      padding: 10px 2px;
      background: #fff;
      font-size: 14px; }
      .lists_con .item_con a img {
        width: 80%;
        max-width: 90px; }
      .lists_con .item_con a span {
        display: block;
        padding: 10px 8px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #888;
        text-align: center; }

.footer {
  width: 100%;
  height: 1.16rem;
  border-top: 1px solid #ccc;
  font-size: 0;
  padding-top: 2px;
  position: relative;
  z-index: 9999;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3);
  background: #fff; }
  .footer .bj {
    color: #00AA22; }
  .footer a {
    width: 25%;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    color: #333; }
  .footer i {
    display: block;
    font-size: 18px;
    padding: 4px 0; }
  .footer span {
    display: block;
    padding-top: 2px;
    font-size: 12px; }

/*# sourceMappingURL=zhaoyao.css.map */
